{% extends 'base.html.twig' %}

{% block title %}
    TODO : Afficher le titre de la série | {{ parent() }}
{% endblock %}

{% block body %}
    <h2>TODO : Le Titre de la Série</h2>

    {#TODO : Afficher toutes les infos de la série #}
{% endblock %}

