{% extends 'base.html.twig' %}

{% block title %}
    The Best Series | {{ parent() }}
{% endblock %}

{% block body %}
    <section>
        TODO : Afficher les séries
    </section>
{% endblock %}

